
html, body, div, p, a, li, ul, span, input {
    font-family: "Segoe UI", Helvetica;
    font-weight: 400;
}

input::-ms-clear {
    display: none;
}

.explorer-info-title {
    font-family: "Segoe UI Light", Helvetica;
}

html, body, div, p, a, li, ul, span {
    color: #fff;
}
input {
    color: #111;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

a {
    transition:
            background 120ms linear,
            border-color 120ms linear,
            color 120ms linear;
}

a,
a:active,
a:hover {
    text-decoration: none;
}



/*
 * The big 'X' delete buttons are invisible by default by show up when you 
 * hover over that pane.
 *
 * When you hover over the button directly it turns bright white.
 */

.explorer-info-delete,
.explorer-project-delete {
    text-transform: capitalize;
    transform: rotate( 9deg );
    border-width: 3px;
    border-style: solid;
    border-radius: 10000px;

    padding: 0;
    margin: 0;
    text-align: center;

    border-color: transparent;
    color: transparent;
}
.explorer-info:hover > .explorer-info-delete,
.explorer-project:hover > .explorer-project-delete {
    border-color: #2F384B;
    color: #2F384B;
}
.explorer-info-delete:hover,
.explorer-project-delete:hover {
    border-color: #fff !important;
    color: #fff !important;
}

html,
body {
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 100%;
    max-height: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html,
body,
.explorer-container {
    background: #131A29;
}

body {
  scrollbar-base-color: transparent;
  scrollbar-3dlight-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-dark-shadow-color: transparent;

  scrollbar-track-color : #131A29;
  scrollbar-shadow-color: #131A29;
  scrollbar-arrow-color : #131A29;

  scrollbar-face-color  : #1C263B;
}

.explorer-environment,
.explorer-group {
    position: absolute;

    right: 0;
    top: 0;
    bottom: 0;
}
.explorer-environment {
    left: 0;
    overflow: hidden;
}
    .explorer-group,
    .explorer-projects {
        padding-left: 16px;
    }

    .explorer-group {
        left: 160px;

        overflow: hidden;

        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .explorer-group.c4-hide {
        visibility: hidden;
    }

    .explorer-projects {
        padding-top: 64px;

        background: #1C1F36;
        background: transparent;

        width: 160px;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        position: absolute;
        top: 0;
        bottom: 0;

        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
    }
        .explorer-add-project,
        .explorer-project {
            display: inline-block;
            padding: 5px 0;

            -moz-box-sizing: border-box;
            box-sizing: border-box;

            text-align: center;
            vertical-align: middle;

            width: 100%;
            max-width: 100%;
        }
        .explorer-project {
            color: #374C75;
            position: relative;
            text-align: center;
            overflow: hidden;
            cursor: pointer;
        }
        .explorer-project:hover {
            color: #6D8ECF;
        }
        .explorer-project.c4-show {
            color: #fff;
        }
            .explorer-project.c4-show > .explorer-project-name {
                color: white;
                pointer-events: auto;
            }

            .explorer-project-delete {
                position: absolute;
                font-size: 32px;

                top: -18px;
                right: -12px;

                width: 36px;
                line-height: 36px;
            }
            .explorer-project-name {
                font-size: 21px;
                padding: 6px 0 8px 0;
                margin: 0;
                border: none;
                background: transparent;
                color: inherit;

                width: 100%;
                text-align: center;

                pointer-events: none;
            }
            .explorer-project-name:focus {
                color: #ffdd22 !important;
            }

        .explorer-add-project {
            text-align: center;
            font-size: 48px;
            color: #1C263B;
        }
        .explorer-project-name:hover,
        .explorer-add-project:hover {
            color: #fff;
        }

        .explorer-project-delete-pane {
            position: absolute;

            top : 0;
            left: 0;

            width : 100%;
            height: 100%;

            transition: transform 100ms 0 ease-out, visibility 0 linear 100ms;
            transform: translateY( 100% );

            background: rgba( 20, 20, 20, 0.75 );

            text-align: center;
            visibility: hidden;
        }

        /*
         * When you go to delete a project two little buttons popup to confirm.
         * They ask 'yes' and 'no'. 
         *
         * This is the CSS for that section.
         */
        .explorer-project-delete-pane.c4-show {
            transition: transform 100ms 0 ease-in, visibility 0 linear 0;
            transform: translateY( 0 );
            visibility: visible;
        }
            .explorer-project-delete-button {
                display: inline-block;

                background: #2222a6;
                color: white;

                font-weight: 900;
                text-align: center;

                margin: 13px 10px 0 10px;
                padding: 2px 0 4px 0;
                border-radius: 1px;

                min-width: 40px;
            }
            .explorer-project-delete-button:hover {
                background: #cc3636;
            }
        
    .explorer-add-explorer,
    .explorer-container {
        position: relative;
        display: inline-block;

        width: 203px;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 2px;
    }

    .explorer-add-explorer {
        vertical-align: top;
        text-align: center;

        font-size: 170px;
        font-weight: 900;

        color: #1C263B;

        padding-top: 180px;
    }
    .explorer-add-explorer:hover {
        color: #fff;
    }

    .explorer-container {
        transform: translateX( 0 );
        transition: transform 180ms ease-out, z-index 0 linear 180ms;

        height: 100%;

        z-index: 1;
    }
    .explorer-container.c4-hide {
        transition: transform 180ms ease-in, z-index 0 linear 0;
        transform: translateX( -203px );

        z-index: 0;
    }
        .explorer-text-float {
            position: absolute;
            padding: 2px 0 4px 0;

            margin: 0;
            border: 1px solid #d08900;
            border-radius: 3px;

            background: orange;
            color: #000;

            top: 0;
            left: 0;

            width: auto;

            font-weight: 900;

            font-size: 18px;
        }
        .explorer-text-float.text-file,
        .explorer-text-float.text-letter {
            left: 32px;
            top : 90px;
            text-align: center;
        }

        .explorer-bar {
            position: absolute;

            left: 0;
            top: 0;
            right: 0;
            height: 32px;

            width: 100%;

            margin: 0;
            border: 0 none;

            font-size: 21px;

            padding: 6px 0;

            border-bottom: 1px solid #ddd;
        }
        .explorer-content {
            position: relative;

            width: 100%;
            height: 100%;
        }
        .explorer-content.c4-folder-not-found {
            background: #291318;
        }
            .explorer-info {
                position: absolute;

                top: 0;
                left: 0;
                right: 0;

                height: 64px;

                margin-bottom: 24px;

                overflow: hidden;
            }
                .explorer-info-title {
                    margin: 0;
                    padding: 0;

                    position: absolute;

                    top: 3px;
                    left: 6px;
                    right: 6px;
                    bottom: 0;

                    font-size: 21px;
                }
                .explorer-info-delete {
                    position: absolute;
                    font-size: 48px;
                    right: -20px;
                    top: -28px;

                    width: 50px;
                    line-height: 48px;
                }
                .explorer-info-controls {
                    position: absolute;

                    top: 32px;
                    left: 0;
                    right: 0;
                }
                    .explorer-info-control {
                        display: inline;

                        vertical-align: middle;

                        height: 32px;
                        width: 32px;

                        margin-right: 4px;

                        border: 1px solid transparent;
                        border-radius: 5px;

                        padding: 0 4px 1px 4px;

                        font-size: 12px;
                    }
                    .explorer-info-control:hover {
                        border: 1px solid #666;
                    }
            .explorer-scroll {
                position: absolute;
                top: 64px;
                bottom: 0;
                left: 0;
                right: 0;
                padding-top: 3px;

                overflow: hidden;
                overflow-x: hidden;
                overflow-y: auto;

                white-space: nowrap;

                transition: border-color 120ms linear;
                border-top: 2px solid transparent;
            }
            .c4-selected > .explorer-content > .explorer-scroll {
                border-top-color: #5473B5;
                border-radius: 2px;
            }
                .explorer-file,
                .explorer-folder,
                .explorer-item-link {
                    display: block;

                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;
                }

                .explorer-file,
                .explorer-folder {
                    position: relative;
                }

                .explorer-item-link {
                    padding: 3px 6px;
                    font-size: 18px;

                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    background: transparent;
                }

                .explorer-file,
                .explorer-folder,
                .explorer-item-link {
                    width: 100%;
                }

                .explorer-item-link {
                    height: 100%;
                }

                .explorer-file {
                    background: #333;
                }
                .explorer-folder,
                .explorer-folder > a {
                    color: #374C75;
                }

                .explorer-item {
                    transition: background 100ms linear 0s;
                }
                .explorer-item.c4-ping {
                    background: rgba(245, 180, 15, 0.6) !important;
                }

                .explorer-item-link-alt {
                    position: absolute;

                    right: 0;
                    top: 0;
                    bottom: 0;

                    width: 48px;
                    height: 100%;

                    display: block;
                }

                .explorer-item-link-alt {
                    background: rgba( 255, 255, 255, 0.3 );
                    z-index: 10;
                }

                .explorer-item-link:hover,
                .explorer-item-link-alt:hover {
                    background: #fff !important;
                }

                .explorer-folder > .explorer-item-link-alt {
                    background: #1C263B;
                }

                .explorer-folder > .explorer-item-link:hover {
                    background: #235 !important;
                }
                .explorer-file > .explorer-item-link:hover {
                    color: #000;
                }

                .explorer-folder.first {
                    margin-top: 40px;
                }

.c4-help-overlay {
    position: fixed;
    z-index: 100000;

    width: 100%;
    height: 100%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba( 0, 0, 0, 0.8 );
    color: white;

    display: none;
}
.c4-help-overlay.c4-show {
    display: block;
}
    .c4-help-overlay-page {
        vertical-align: top;
        display: inline-block;
        height: 100%;
        width: 500px;

        padding: 12px 0 12px 36px;

        white-space: pre-wrap;
    }
