
html, body, div, p, a, li, ul, span, input {
    font-family: "Segoe UI", Helvetica;
    font-weight: 400;
}

.explorer-project,
.explorer-info-title {
    font-family: "Segoe UI Light", Helvetica;
}

html, body, div, p, a, li, ul, span {
    color: #fff;
}
input {
    color: #111;
}

a {
    transition:
            background 120ms linear,
            border-color 120ms linear,
            color 120ms linear;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

html,
body {
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 100%;
    max-height: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

html,
body,
.explorer-container {
    background: #222;
}

.explorer-environment,
.explorer-group {
    position: absolute;

    right: 0;
    top: 0;
    bottom: 0;
}
.explorer-environment {
    left: 0;
    overflow: hidden;
}

    .explorer-group {
        left: 160px;

        overflow: hidden;

        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .explorer-group.hide {
        visibility: hidden;
    }

    .explorer-projects {
        background: #111;
        width: 160px;
        left: 0;

        -moz-box-sizing: border-box;
        box-sizing: border-box;

        position: absolute;
        top: 0;
        bottom: 0;

        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;
    }
        /**
         * The little button that opens and closes
         * the projects pane.
         */
        .explorer-projects-open {
            position: absolute;
            right: 10px;
            top: 10px;

            color: #444;
            border: 1px solid #444;
            border-radius: 3px;

            padding: 0 0 3px 0;
            text-align: center;
            line-height: 19px;

            -webkit-transition: transform 200ms linear;
            -moz-transition: transform 200ms linear;
            transition: transform 200ms linear;
        }
        .explorer-projects-open:hover {
            color: #fff;
            border-color: #fff;
        }

        .explorer-add-project,
        .explorer-project {
            display: inline-block;
            padding: 5px 0;

            -moz-box-sizing: border-box;
            box-sizing: border-box;

            text-align: center;
            vertical-align: middle;

            width: 100%;
            max-width: 100%;
        }
        .explorer-project {
            color: #aaa;
            position: relative;
            text-align: center;
            overflow: hidden;
        }
        .explorer-project:hover {
            background: #161616;
        }
        .explorer-project.show {
            background: #1a1a1a;
        }
            .explorer-project.show > .explorer-project-name {
                color: white;
            }

            .explorer-project-delete {
                position: absolute;
                font-size: 32px;

                top: -18px;
                right: -12px;
                transform: rotate( 9deg );

                width: 36px;
                line-height: 36px;
                text-transform: capitalize;

                border: 3px solid #1f1f1f;
                color: #1f1f1f;
                border-radius: 100000px;
            }
            .explorer-project.show > .explorer-project-delete {
                border-color: #333;
                color: #333;
            }
            .explorer-project.show > .explorer-project-delete:hover,
            .explorer-project-delete:hover {
                border-color: #fff;
                color: #fff;
            }
            .explorer-project-rename {
                display: none;
            }
            .explorer-project-name {
                font-size: 21px;
                cursor: pointer;
                padding: 6px 0 8px 0;
                margin: 0;
            }

        .explorer-add-project {
            text-align: center;
            font-size: 48px;
            color: #333;
        }
        .explorer-project-name:hover,
        .explorer-add-project:hover {
            color: #fff;
        }

        .explorer-project-delete-pane {
            position: absolute;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            transition: transform 100ms 0 linear;
            transform: translateY( 100% );

            background: rgba( 20, 20, 20, 0.75 );

            text-align: center;
        }
        .explorer-project-delete-pane.show {
            transform: translateY( 0 );
        }
            .explorer-project-delete-button {
                display: inline-block;

                background: #a62222;
                color: white;

                font-weight: 900;
                text-align: center;

                margin: 13px 10px 0 10px;
                padding: 2px 0 4px 0;
                border-radius: 1px;

                min-width: 40px;
            }
            .explorer-project-delete-button:hover {
                background: #cc3636;
            }
        
    .explorer-add-explorer,
    .explorer-container {
        position: relative;
        display: inline-block;

        width: 203px;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 2px;
    }

    .explorer-add-explorer {
        vertical-align: top;
        text-align: center;

        font-size: 170px;
        font-weight: 900;

        color: #444;

        padding-top: 180px;
    }
    .explorer-add-explorer:hover {
        color: #999;
    }

    .explorer-container {
        transform: translateX( 0 );
        transition: transform 180ms ease-out, z-index 0 linear 180ms;

        height: 100%;

        z-index: 1;
    }
    .explorer-container.hide {
        transition: transform 180ms ease-in, z-index 0 linear 0;
        transform: translateX( -203px );

        z-index: 0;
    }
        .explorer-text-float {
            position: absolute;
            padding: 2px 0 4px 0;

            margin: 0;
            border: 1px solid #d08900;
            border-radius: 3px;

            background: orange;
            color: #000;

            top: 0;
            left: 0;

            width: auto;

            font-weight: 900;

            font-size: 18px;
        }
        .explorer-text-float.text-file,
        .explorer-text-float.text-letter {
            left: 32px;
            top : 90px;
            text-align: center;
        }

        .explorer-bar {
            position: absolute;

            left: 0;
            top: 0;
            right: 0;
            height: 32px;

            width: 100%;

            margin: 0;
            border: 0 none;

            font-size: 21px;

            padding: 6px 0;

            border-bottom: 1px solid #ddd;
        }
        .explorer-content {
            position: relative;

            width: 100%;
            height: 100%;
        }
            .explorer-info {
                position: absolute;

                top: 0;
                left: 0;
                right: 0;

                height: 64px;

                margin-bottom: 24px;

                background: #333;

                overflow: hidden;
            }
                .explorer-info-title {
                    margin: 0;
                    padding: 0;

                    position: absolute;

                    top: 3px;
                    left: 6px;
                    right: 6px;
                    bottom: 0;

                    font-size: 21px;
                    z-index: 10;
                }
                .explorer-info-close {
                    position: absolute;
                    font-size: 48px;
                    right: -20px;
                    top: -28px;

                    padding: 0;
                    margin: 0;
                    line-height: auto;

                    text-align: center;
                    background: transparent;

                    width: 50px;
                    line-height: 48px;

                    border: 3px solid #444;
                    border-radius: 10000px;

                    text-transform: capitalize;
                    transform: rotate( 9deg );

                    color: #444;
                }
                .explorer-info-close:hover {
                    color: #fff;
                    border-color: #fff;
                }
                .explorer-info-controls {
                    position: absolute;

                    top: 32px;
                    left: 0;
                    right: 0;
                }
                    .explorer-info-control {
                        display: inline;

                        vertical-align: middle;

                        height: 32px;
                        width: 32px;

                        margin-right: 4px;

                        border: 1px solid transparent;
                        border-radius: 5px;

                        padding: 0 4px 1px 4px;

                        font-size: 12px;
                    }
                    .explorer-info-control:hover {
                        border: 1px solid #666;
                    }
            .explorer-scroll {
                position: absolute;
                top: 64px;
                bottom: 0;
                left: 0;
                right: 0;

                overflow: hidden;
                overflow-x: hidden;
                overflow-y: auto;

                white-space: nowrap;
            }
                .explorer-file,
                .explorer-folder,
                .explorer-item-link {
                    display: block;

                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;
                }

                .explorer-file,
                .explorer-folder {
                    position: relative;
                }

                .explorer-item-link {
                    padding: 3px 18px;
                    font-size: 18px;

                    -moz-box-sizing: border-box;
                    box-sizing: border-box;

                    background: transparent;
                }

                .explorer-file,
                .explorer-folder,
                .explorer-item-link {
                    width: 100%;
                }

                .explorer-item-link {
                    height: 100%;
                }

                .explorer-item-link-alt {
                    position: absolute;

                    right: 0;
                    top: 0;
                    bottom: 0;

                    width: 48px;
                    height: 100%;

                    display: block;
                }

                .explorer-item-link-alt {
                    background: rgba( 255, 255, 255, 0.3 );
                    z-index: 10;
                }

                .explorer-item-link:hover,
                .explorer-item-link-alt:hover {
                    background: #fff !important;
                }

                .explorer-folder > .explorer-item-link-alt {
                    background: rgba( 255, 255, 255, 0.1 );
                }

                .explorer-folder > .explorer-item-link:hover {
                    background: #641 !important;
                }
                .explorer-file > .explorer-item-link:hover {
                    color: #000;
                }

                .explorer-folder.first {
                    margin-top: 32px;
                    border-top: 1px solid #641;
                }

.greek-help-overlay {
    position: fixed;
    z-index: 100000;

    width: 100%;
    height: 100%;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba( 0, 0, 0, 0.8 );
    color: white;

    display: none;
}
.greek-help-overlay.show {
    display: block;
}
    .greek-help-overlay-page {
        display: inline-block;
        height: 100%;
        width: 500px;

        padding: 12px 0 12px 36px;

        white-space: pre-wrap;
    }
