html, body, div, p, a, li, ul, span, input {
    font-family: "Segoe UI";
    font-weight: 400;
}

html, body, div, p, a, li, ul, span {
    color: #fff;
}
input {
    color: #111;
}

a {
    transition:
            border-color 120ms linear,
            color 120ms linear;
}

a,
a:active,
a:hover {
    text-decoration: none;
}

html, body {
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 100%;
    max-height: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    height: 100%;

    background: #222;

    position: relative;
}

.explorer-group {
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.explorer-group {
    overflow: auto;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    vertical-align: top;
}

.explorer-add-explorer,
.explorer-container {
    vertical-align: top;
    position: relative;
    display: inline-block;

    width: 203px;
    min-height: 100%;
    height: 100%;

    padding: 38px 0 6px 0;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 2px;

    box-shadow: inset 1px 4px 9px -6px; 

    transition: width 120ms linear;
}
.explorer-container.hide {
    width: 0;
}
.explorer-add-explorer {
    text-align: center;

    font-size: 170px;
    font-weight: 900;

    color: #444;

    padding-top: 120px;
}
.explorer-add-explorer:hover {
    color: #999;
}
    .explorer-text-float {
        position: absolute;
        padding: 2px 0 4px 0;

        margin: 0;
        border: 1px solid #d08900;
        border-radius: 3px;

        background: orange;
        color: #000;

        top: 0;
        left: 0;

        width: auto;

        font-weight: 900;

        font-size: 18px;

        box-shadow: 2px 2px 8px rgba( 0, 0, 0, 0.2 );
    }
    .explorer-text-float.text-file,
    .explorer-text-float.text-letter {
        left: 32px;
        top : 90px;
        text-align: center;
    }

    .explorer-bar {
        position: absolute;

        left: 0;
        top: 0;
        right: 0;
        height: 32px;

        width: 100%;

        margin: 0;
        border: 0 none;

        font-size: 21px;

        padding: 6px 0;

        border-bottom: 1px solid #ddd;
    }
    .explorer-content {
        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
        .explorer-info {
            position: absolute;

            top: 0;
            left: 0;
            right: 0;

            height: 64px;

            margin-bottom: 24px;

            background: #333;
        }
            .explorer-info-title {
                margin: 0;
                padding: 0;

                position: absolute;

                top: 3px;
                left: 6px;
                right: 6px;
                bottom: 0;

                font-size: 21px;
            }
            .explorer-info-controls {
                position: absolute;

                top: 32px;
                left: 0;
                right: 0;
            }
                .explorer-info-control {
                    display: inline;

                    vertical-align: middle;

                    height: 32px;
                    width: 32px;

                    margin-right: 4px;

                    border: 1px solid transparent;
                    border-radius: 5px;

                    padding: 0 4px 1px 4px;

                    font-size: 12px;
                }
                .explorer-info-control:hover {
                    border: 1px solid #666;
                }
                .explorer-info-control.close-this {
                    margin-left: 12px;
                }
        .explorer-scroll {
            position: absolute;

            top: 64px;
            left: 0;
            right: 0;

            min-width: 100%;
            width: 100%;
            min-height: 100%;
            height: 100%;

            overflow: hidden;
            overflow-x: hidden;
            overflow-y: auto;

            white-space: nowrap;
        }
            .explorer-file,
            .explorer-folder {
                display: block;

                min-width: 100%;
                width: 100%;
                max-width: 100%;

                padding: 3px 18px;
                font-size: 18px;

                -moz-box-sizing: border-box;
                box-sizing: border-box;

                background: transparent;
            }

            .explorer-file:hover {
                background: #555;
            }
            .explorer-folder:hover {
                background: #641;
            }

            .explorer-folder.first {
                margin-top: 32px;
                border-top: 1px solid #641;
            }
