html, body, div, p, a, li, ul, span, input {
    font-family: "Segoe UI";
    font-weight: 400;
}

html, body, div, p, a, li, ul, span {
    color: #fff;
}
input {
    color: #111;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: 100%;

    background: #333;
}

html {
    max-width: 100%;
}

body {
    overflow: scroll;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    vertical-align: top;
}

.explorer {
    vertical-align: top;
    position: relative;
    display: inline-block;

    min-width: 100px;
    min-height: 100%;
    height: 100%;

    padding: 44px 0 6px 0;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 2px;

    box-shadow: inset 1px 4px 9px -6px; 
    border-right: 1px solid #262626;
}
    .explorer-bar {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 32px;

        width: 100%;

        margin: 0;
        border: 0 none;

        font-size: 21px;

        padding: 6px 0;

        border-bottom: 1px solid #ddd;
    }
    .explorer-content {
        width: 100%;
        height: 100%;

        min-width: 100%;
        min-height: 100%;

        max-width: 100%;
        max-height: 100%;
    }
        .explorer-scroll {
            min-width: 100%;
            width: 100%;
            min-height: 100%;
            height: 100%;

            overflow: hidden;
            overflow-x: hidden;
            overflow-y: auto;

            white-space: nowrap;
        }
            .explorer-info {
                width: 100%;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                margin-top: 9px;
                margin-bottom: 24px;

                font-size: 21px;

                background: #222;
                padding: 0 32px 6px 6px;
            }
                .explorer-info-controls {
                    width: 100%;
                }
                    .explorer-info-control {
                        display: inline;

                        vertical-align: middle;

                        height: 32px;
                        width: 32px;

                        margin-right: 4px;

                        border: 1px solid transparent;
                        border-radius: 5px;

                        padding: 0 4px 1px 4px;

                        font-size: 12px;
                    }
                    .explorer-info-control:hover {
                        border: 1px solid #666;
                    }

            .explorer-file,
            .explorer-folder {
                display: block;

                min-width: 100%;
                width: 100%;
                max-width: 100%;

                padding: 3px 18px;
                font-size: 18px;

                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            .explorer-file,
            .explorer-info-control,
            .explorer-folder,
            .explorer-file:active,
            .explorer-info-control:active,
            .explorer-folder:active,
            .explorer-file:hover,
            .explorer-info-control:hover,
            .explorer-folder:hover {
                text-decoration: none;
            }

            .explorer-file:hover,
            .explorer-folder:hover {
                background: #555;
            }

            .explorer-folder.first {
                margin-top: 32px;
            }
